workflows/2jdH8CcPEGokaAo9.json
{
  "active": false,
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get Warehouses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Warehouses": {
      "main": [
        [
          {
            "node": "Split Warehouses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Warehouses": {
      "main": [
        [
          {
            "node": "Map Items to Warehouses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Items to Warehouses": {
      "main": [
        [
          {
            "node": "Get Stock Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stock Ledger": {
      "main": [
        [
          {
            "node": "Check Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Balance": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Warehouse": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get StockLedgerEntry": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T02:24:45.830Z",
  "id": "2jdH8CcPEGokaAo9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Stock-PR copy 2",
  "nodes": [
    {
      "parameters": {},
      "id": "50513c71-1d50-40c6-b4cb-b5b99becae3e",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -180,
        -220
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "url": "http://192.168.20.119/api/resource/Warehouse",
        "jsonParameters": true,
        "options": {}
      },
      "id": "9fd7516d-2b6d-4fba-b7f0-eda2dbce08df",
      "name": "Get Warehouses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        40,
        -220
      ],
      "credentials": {
        "erpNextApi": {
          "id": "DHcizRN7kwdJXqZ2",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0ecf96ed-8192-4ad2-ac96-66ec632aebcf",
      "name": "Split Warehouses",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        260,
        -220
      ]
    },
    {
      "parameters": {
        "functionCode": "return [\n  { json: { item_code: 'MARINE PLYWOOD 18MM(3/4)4X8', warehouse: $json.name } },\n  { json: { item_code: 'TONER EP80X', warehouse: $json.name } }\n];"
      },
      "id": "3c0b2663-6809-462d-b32f-54d0da8765bc",
      "name": "Map Items to Warehouses",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        -220
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "requestMethod": "POST",
        "url": "http://192.168.20.119/api/method/frappe.desk.query_report.run",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "report_name": "Stock Ledger",
          "filters": {
            "from_date": "2025-01-01",
            "to_date": "={{ new Date().toISOString().slice(0,10) }}",
            "item_code": "={{ $json.item_code }}",
            "warehouse": "={{ $json.warehouse }}"
          }
        }
      },
      "id": "b7ef37d9-ad71-4159-a94a-7645ed9a3860",
      "name": "Get Stock Ledger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        700,
        -220
      ],
      "credentials": {
        "erpNextApi": {
          "id": "DHcizRN7kwdJXqZ2",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        0
      ],
      "id": "b3ae9662-e8b9-4b8b-8990-568f8609043a",
      "name": "When chat message received",
      "webhookId": "877336a1-5c78-4567-9347-aef3634d5619"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || 'Check stock levels and suggest PRs' }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1140,
        -120
      ],
      "id": "2c18dd57-48d8-49a8-a458-c03fe70ad5c4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1000,
        140
      ],
      "id": "2a6384c3-da4e-4f99-9d8c-da9aee47c7e6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ASKNtk66h4eMwYob",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'stock-check' }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1220,
        120
      ],
      "id": "279b182f-c711-4353-ae2a-4297c17373a4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "functionCode": "const allResults = [];\n\nfor (const item of items) {\n  const results = item.json.message.result;\n\n  if (Array.isArray(results)) {\n    for (const entry of results) {\n      allResults.push({\n        json: {\n          item_code: entry.item_code,\n          name: entry.name,\n          warehouse: entry.warehouse,\n          actual_qty: entry.actual_qty,\n          qty_after_transaction: entry.qty_after_transaction,\n          project: entry.project,\n        }\n      });\n    }\n  }\n}\n\nreturn allResults;\n"
      },
      "id": "6a5b05fb-2e56-4409-8d1e-b2f9466ded95",
      "name": "Check Balance",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        920,
        -240
      ]
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the warehouses",
        "url": "http://192.168.20.119/api/resource/Warehouse",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1400,
        140
      ],
      "id": "9bc40e74-ba86-4d8d-b04f-e622f93e8e49",
      "name": "Get Warehouse",
      "credentials": {
        "erpNextApi": {
          "id": "DHcizRN7kwdJXqZ2",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.20.119/api/method/frappe.desk.query_report.run",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1580,
        120
      ],
      "id": "f9f0c5f0-cde1-42ec-b38a-1b626e7000e4",
      "name": "Get StockLedgerEntry",
      "credentials": {
        "erpNextApi": {
          "id": "DHcizRN7kwdJXqZ2",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "description": "Map items to warehouse",
        "jsCode": "return [\n  { json: { item_code: 'MARINE PLYWOOD 18MM(3/4)4X8', warehouse: $json.name } },\n  { json: { item_code: 'TONER EP80X', warehouse: $json.name } }\n];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        1700,
        100
      ],
      "id": "24d5f7be-e1a7-4d9a-b7d8-6ea6780c7f53",
      "name": "Code Tool"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-14T09:17:05.251Z",
      "updatedAt": "2025-05-14T09:17:05.251Z",
      "id": "kraijyWM4X3S7ISz",
      "name": "try"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-01T10:16:03.000Z",
  "versionId": "df25caeb-ddcd-4e0d-9522-3a646afd34a7"
}