workflows/4MwzgjfxevyaPRoN.json
{
  "active": false,
  "connections": {
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Stock Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stock Ledger": {
      "main": [
        [
          {
            "node": "Extract Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Balance": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ERPNext": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-15T09:22:56.199Z",
  "id": "4MwzgjfxevyaPRoN",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI-Agent Stock Ledger Check copy",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const { item_code, warehouse } = $json.body;\n\nif (!item_code || !warehouse) {\n  throw new Error(\"Missing required fields: item_code and warehouse\");\n}\n\nreturn [{ json: { item_code, warehouse } }];\n"
      },
      "id": "6069286b-6e78-4e7e-bf2e-42df331a9555",
      "name": "Validate Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "requestMethod": "POST",
        "url": "http://192.168.20.119/api/method/frappe.desk.query_report.run",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "report_name": "Stock Ledger",
          "filters": {
            "from_date": "2025-01-01",
            "to_date": "={{ new Date().toISOString().slice(0,10) }}",
            "item_code": "={{ $json.item_code }}",
            "warehouse": "={{ $json.warehouse }}"
          }
        }
      },
      "id": "c5acc180-87a1-458b-8139-f4367c5d71cb",
      "name": "Get Stock Ledger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        840,
        0
      ],
      "credentials": {
        "erpNextApi": {
          "id": "DHcizRN7kwdJXqZ2",
          "name": "ERPNext account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nconst result = $json.result || [];\nif (result.length === 0) {\n  return [{ json: { balance: 0, note: \"No stock entries found.\" } }];\n}\nconst lastEntry = result[result.length - 1];\nreturn [{\n  json: {\n    item_code: $json.filters.item_code,\n    warehouse: $json.filters.warehouse,\n    balance: parseFloat(lastEntry.balance_qty || 0)\n  }\n}];\n"
      },
      "id": "d407595c-4c74-477e-bd80-b251e4dd3eff",
      "name": "Extract Balance",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        20
      ],
      "id": "1d5bf9b2-5bce-418e-84f9-c42d556ae6e3",
      "name": "When chat message received",
      "webhookId": "090bc414-ac65-4550-ab40-4454df34ddad"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        240,
        -200
      ],
      "id": "9b5023c5-5175-4013-82f3-24c01c88fbc6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        120
      ],
      "id": "37079195-067e-4927-a67c-a188b8e77b4b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ASKNtk66h4eMwYob",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        80
      ],
      "id": "75fe5763-e783-49cc-81e0-32664ebcfec8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "docType": "Quick%20Stock%20Balance",
        "options": {
          "fields": []
        }
      },
      "type": "n8n-nodes-base.erpNextTool",
      "typeVersion": 1,
      "position": [
        400,
        20
      ],
      "id": "ce78393f-0897-4038-a88e-4164a5bcf659",
      "name": "ERPNext",
      "credentials": {
        "erpNextApi": {
          "id": "DHcizRN7kwdJXqZ2",
          "name": "ERPNext account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-14T09:17:05.251Z",
      "updatedAt": "2025-05-14T09:17:05.251Z",
      "id": "kraijyWM4X3S7ISz",
      "name": "try"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-01T10:09:43.000Z",
  "versionId": "314bdb68-9a4c-4e98-8a1c-18368d94615e"
}