workflows/XzsOJmL8fdCDZmfS.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-19T09:15:16.387Z",
  "id": "XzsOJmL8fdCDZmfS",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ERP stock (file)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        -120
      ],
      "id": "53cf0851-7c6b-4bc5-8859-beb627ebd59a",
      "name": "When chat message received",
      "webhookId": "a3bc5501-dc51-4ca4-8b11-978158bbe7bd"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1280,
        -120
      ],
      "id": "69c3050b-6fbe-4e6e-ad59-5b0ab4ad5e07",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1000,
        100
      ],
      "id": "a3e5dd57-0edd-4219-a589-5fae10fef248",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ASKNtk66h4eMwYob",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'stock-check' }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1160,
        100
      ],
      "id": "b9d03050-57b8-4997-bc7b-831d38db7d0c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to get/check:\n1. warehouses name\n2. item name, count and balance\n3, inventory",
        "workflowId": {
          "__rl": true,
          "value": "JJ0sk4C09DUzz07L",
          "mode": "list",
          "cachedResultName": "test stock 1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1380,
        100
      ],
      "id": "25be65ce-cd00-4b92-aaf9-97037353ba42",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "fileName": "erp-stock-data"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1640,
        -120
      ],
      "id": "5b35aa54-5986-4f8c-a8ed-995da4d73147",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-14T09:17:05.251Z",
      "updatedAt": "2025-05-14T09:17:05.251Z",
      "id": "kraijyWM4X3S7ISz",
      "name": "try"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-01T10:15:58.000Z",
  "versionId": "51a38a7d-e5d3-4eac-a422-4f1ba9f46b26"
}